body {
background: linear-gradient(to top, #09203f 0%, #537895 100%);
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;    
font-family: 'Roboto Slab', serif;
}


.weather-wrapper {
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin-top: 15%;
    padding: 20px;

}

.weather-content {
    background: rgba(255, 255, 255, 0.844);
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 20px;
    
}

.sun-icon {
    font-size: xx-large;
}

.col-2 {
    border: 2px solid red;
    text-align: center;
}

.fa-cloud {
    font-size: x-large;
}


#current-temp {
    font-size: 55px;
}

#weather-info {
    list-style: none;
}

#units {
    position: relative;
    top: -30px;
}

.weather-forecast {
    text-align: center;
}

footer {
    text-align: center;
    color: aliceblue;
}